.blog-page {
  padding: 120px 0 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 770px;
    width: 100%;
  }

  &__item {
    margin-bottom: 60px;

    &+.blog-page__item--no-image {
      border-top: 1px solid #ececec;
    }
  }

  &__item-link {
    display: block;
    color: inherit;
  }

  &__img {
    max-width: 770px;
    height: 450px;
    object-fit: cover;
  }

  &__item-box {
    border: 1px solid #ececec;
    border-top: none;
    padding: 40px;
  }

  &__item-title {
    @extend %roboto-500;
    font-size: 22px;
    color: $title;
    margin-bottom: 20px;
    transition: all 1s;

    &:hover {
      color: $accent;
    }
  }

  &__slider {

    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      width: 40px;
      height: 40px;
      background-color: $accent;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 50%;
      outline: transparent;
      cursor: pointer;
      box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);

      path {
        fill: #fff;
      }
    }

    .slick-disabled {
      background-color: #fff;
      box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);

      path {
        fill: $accent;
      }
    }

    .slick-prev {
      left: 40px;
    }

    .slick-next {
      right: 40px;
    }

    
  }

  &__item--slider {
    .blog-page__item-box {
      margin-top: -8px;
    }
  }




  .blog-box {
    justify-content: start;

    &__author {
      margin-right: 30px;
    }
  }

  &__aside {
    max-width: 370px;
    width: 100%;
  }

}

.blog-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__author,
  &__date {
    padding-left: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 4px;
    }
  }

  &__author::before {
    background-image: url(../images/icons/icon-user-grey.svg);
  }

  &__date::before {
    background-image: url(../images/icons/icon-time.svg);
  }
}

.person {
  border: 1px solid #ececec;
  margin-bottom: 40px;
  padding: 40px 25px;
  text-align: center;

  &__img {
    display: inline-block;
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 auto 35px;
  }

  &__name {
    @extend %roboto-700;
    font-size: 18px;
    color: $title;
  }

  &__position {
    color: $accent;
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__social-link {
    margin: 0 8px;

    path {
      fill: $default;
      transition: all 0.3s;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }
}

.latest-post {
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;

  &__title {
    @extend %roboto-400;
    font-size: 22px;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    & + .latest-post__item {
      border-top: 1px solid #ececec;
      padding-top: 20px;
    }
  }
  &__img-link {
    display: block;
    min-width: 80px;
    margin-right: 20px;
  }
  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  &__title-link {
    @extend %roboto-400;
    font-size: 18px;
    color: $title;
    line-height: 1.6;
  }

  &__date {
    padding-left: 26px;
    position: relative;
    &::before {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 5px;
      left: 0;
      background-image: url('../images/icons/icon-calendar.svg');
    }
  }

}