.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item:not(:first-child) {
    margin-left: 35px;
  }
  &__list-link {
    color: $title;
    border-bottom: transparent;
    padding-bottom: 1px;
    @extend %quicksand-400;
    text-transform: uppercase;
    transition: border-bottom 0.5s;
    &:hover {
      color: $accent;
      @extend %quicksand-500;
      border-bottom: 1px solid $accent;
    }
    &--active {
      color: $accent;
      @extend %quicksand-500;
      border-bottom: 1px solid $accent;
    }
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link:not(:first-child) {
    margin-left: 25px;
  }
  &__num {
    // display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    top: -9px;
    right: -14px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;  /*в px для установки по центру*/
  }
}